
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: small;
    min-width: 100%;
    display: block;
}

.space {
    flex: 1 1 auto;
}

.nav-top {
    list-style: none;
    padding: 7px 23px 0px 17px;
    display: inline;
}

.store {
    padding-right: 15px;
    color:black
}

.about {
    padding-right: 15px;
    padding-left: 15px;
    color: black;
}

.button, .images, .gmail, .apps {
    padding-right: 15px;
    float: right;
    color: black;
}

.apps img {
    width: 23px;
    height: 23px;
    padding: 4.5px 3px 0px 3px;
    opacity: 50%;
}

.nav-apps:hover {
    opacity: 1;
}

.sign-in {
    border: none;
    font-weight: bold;
    background-color: #4285f4;
    color: white;
    margin: 0;
    border-radius: 3px;
    float: right;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.google-logo {
   max-width: 100%;
   height: auto;
   padding-top: 20px;
   cursor: pointer;
}

.middle-sect {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input {
    width: 34vw;
    height: 40px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    margin-top: 25px;
    padding: 0 4%;
    outline: none;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-size: 1.5vw;
    background-position: 2% 50%;
    opacity: 50%;
}


