body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#gmail, #images, .user {
    float: right;
}

#navbar a {
    display: inline-flex;
    margin-top: 23px;
    color:black;
    text-decoration: none;
    font-size: 13px;
}

#navbar a:hover {
    text-decoration: underline;
}

#about {
    margin-left: 25px;
    margin-right: 10px;
}

#images {
    margin-left: 15px;
    margin-right: 20px;
}

#nav a.user {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
}

#grid {
    float: right;
    height: 20px;
    width: 20px;
    margin-top: 21px;
    margin-right: 20px;
}

#signin {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    background-color: #4c8bf5;
    border-color: #4c8bf5;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 17px;
    margin-right: 30px;
}

#middle {
    margin-top: 85px;
    text-align: center;
}

#google {
    height: 180px;
    width: auto;
}

#searchbarcontainer {
    text-align: center;
    margin-top: 10px;
    border-color: rgb(206, 206, 206);
}

#searchbar {
    padding-top: 15px;
    padding-bottom: 15px;
    width:475px;
    border-radius: 25px;
    border-color: rgb(206, 206, 206);
    text-emphasis: none;
    outline: 0;
}

#middlebutton {
    margin-top: 25px;
    font-size: 20px;
}

#googlesearch {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    margin-right: 5px;
    background-color: rgb(245, 245, 245);
}

#feelinglucky {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    margin-left: 5px;
    background-color: rgb(245, 245, 245);
}

ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(233, 233, 233);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0;
   font-size: 15px;
   color: rgb(104, 101, 101);
   text-align: center;
}

ul:hover {
    text-decoration: underline;
}

 li {
     display: inline-flex;
 }

